@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .container {
    max-width: 1250px !important;
  }
}
@media screen and (max-width: 1199px) {
  .myheader {
    .nav-link {
      padding: 0 7px !important;
    }
  }
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
  .myheader {
    .nav-link {
      color: #000;
      font-size: 15px;
      font-weight: 500;
      padding: 4px 0 !important;
      margin-bottom: 10px;
    }
    .login-btn {
      color: #ffc61a;
      border: 1px solid #ffc61a;
    }
    .bg-light {
      padding-top: 8px;
      padding-bottom: 8px;
      background: rgb(243 243 243) !important;
    }
    .logo {
      max-width: 150px;
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
  .marked-btn {
    margin-top: 10px;
    .btn {
      font-size: 11px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .inbox-box {
    .project_loop {
      text-align: left !important;
      p {
        &:last-child {
          float: none;
        }
      }
    }
  }
  .logo_wp {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .logo_wp img {
    max-width: 150px;
  }
  .header {
    background: rgb(243 243 243);
  }
  ul.setting_wp {
    display: none;
  }
  .banner_text a {
    margin-top: 0em;
    font-size: 14px;
  }
  .inner_banner_text h1 {
    font-size: 20px;
  }
  .banner_text p {
    font-size: 15px;
    letter-spacing: 2px;
  }
  .laste_l {
    margin-bottom: 1em;
  }
  .latest_request div h1 {
    font-size: 25px;
  }
  .laste_l figure {
    width: 40%;
  }
  .laste_l > div {
    width: 60%;
  }
  .laste_l > div h3 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .laste_l > div p {
    font-size: 13px;
    line-height: 19px;
  }
  .step_wrapper {
    padding: 3em 1.5em;
  }
  .step_w > div h4 {
    font-size: 16px;
  }
  .step_w {
    margin-bottom: 2em;
  }
  .last_job div h1 {
    font-size: 25px;
  }
  .last_job {
    padding: 2em 1em;
  }
  .machin1 h3 {
    font-size: 25px;
  }
  .machin4 {
    padding: 0 1em;
  }
  .machin5 {
    padding: 0 1em;
  }
  .latest_review h1 {
    font-size: 25px;
  }
  .latest_r {
    padding: 2em 1em;
    margin-bottom: 1em;
  }
  .latest_r h4,
  .latest_r h5 {
    line-height: 27px;
    font-size: 18px;
  }
  .bottom-main-press .col-sm-2 figure {
    margin: 9px 0;
  }
  .bottom-main-press .col-sm-2 img {
    height: auto;
  }
  .copy_r p {
    font-size: 13px;
  }
  .machin1 {
    padding: 3em 0 0;
  }
  .machin1 {
    padding: 0;
  }
  .latest_request {
    padding: 1em 0.5em;
  }
  .banner_text ul li {
    margin: 0 15px;
    font-size: 14px;
  }
  .banner_text ul li:before {
    right: -22px;
  }
  .reg-bottom button {
    margin-bottom: 15px;
  }
  .reg-bottom button:last-child {
    margin-left: 0;
  }
  .avail h3 {
    font-size: 25px;
  }
  .job_machin_wp {
    padding: 1em 0;
    display: grid;
  }
  .job_machin_wp .col-sm-8 {
    order: 1;
  }
  .job_machin_wp .col-sm-4 {
    order: 2;
  }
  .machin_req {
    padding: 0;
  }
  .machin_req h3 span {
    font-size: 13px;
    margin-top: 3px;
  }
  .machin_req_li_text {
    padding-left: 5px;
  }
  .machin_req_li_text h4 {
    font-size: 15px;
  }
  .machin_req_li_text p {
    font-size: 13px;
  }
  .machin_req_li_text h5 {
    font-size: 15px;
  }
  .looking_m {
    margin-top: 1em;
  }
  html {
    overflow-x: hidden;
  }
  .sign_wp {
    height: auto;
    margin-bottom: 2em;
  }
  .sign_banner {
    height: 100px;
    margin-top: 0;
    display: flex;
    align-items: center;
  }
  .myprofile_w {
    display: grid;
  }
  .myprofile_l {
    width: auto;
  }
  .myprofile_r {
    width: auto;
  }
  .myprofile_w {
    display: grid;
  }
  .myprofile_l {
    width: auto;
    order: 2;
  }
  .myprofile_r {
    width: auto;
    text-align: center;
    order: 1;
    margin-bottom: 12px;
  }
  .edit_password_wp img {
    margin-top: -130px;
    margin-right: -26px;
  }
  .inner_banner {
    height: 250px;
  }
  .inner_banner_text {
    padding-top: 0;
  }
  .inner1_banner_text h1 {
    font-size: 25px;
  }
  .inner1_banner_text {
    padding-top: 8em;
  }
  .uys5 ul li.nav-item {
    flex-grow: 2;
    text-align: center;
  }
  .location_a1 {
    display: block;
    margin-bottom: 15px;
  }
  .location_l2 {
    width: auto;
  }
  .location_l2 h5 {
    font-size: 14px;
    padding-bottom: 2px;
  }
  .location_r2 {
    width: auto;
  }
  .kyhs button {
    float: none;
    margin-bottom: 15px;
  }
  .gr1 {
    font-size: 12px;
  }
  .gr2 {
    font-size: 13px;
  }
  .fdfd2 {
    text-align: center;
    margin-top: 1em;
  }
  .fund_d {
    margin-bottom: 1em;
  }
  .step_wp {
    margin-bottom: 4em;
  }
  .ki2:before {
    display: none;
  }
  .ki2:after {
    display: none;
  }
  .fdfd2 h3 {
    display: inline-grid;
  }
  .fdfd2 h3 img {
    float: none;
  }
  .form-inline1 input[type="text"],
  .form-inline1 select {
    margin-bottom: 10px;
  }
  h3.cus {
    font-size: 21px;
  }
}
@media screen and (max-width: 575px) {
  .overview-head figure img,
  .myprofile_r figure img {
    width: 105px;
    height: 105px;
  }
	.machin_req_li_img img{
	width: 100%;
    	height: 85px;
}
.machin_req_li_img {
    width: 25%;
}
.machin_req_li_text h4 {
     padding-bottom: 0px;
}
.machin_req_li_text p span {
    margin-right: 10px;
}

.machin_price_li {
    display: block;
   
}
.machin_price_li_img {
    width: auto;
}
.machin_price_li_text {
    width: auto;
	padding: 0;
}
.machin_price_li_text1, .machin_price_li_text2 {
    width: auto;
}
  .overview-head figure {
    width: 55%;
  }
}

@media screen and (max-width: 415px) {
  .machin_req_li_text a {
    font-size: 13px;
  }
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
}
